
# Python

venv/
.venv/
__pycache__/
*.pyc
*.log


# OS

.DS_Store
Thumbs.db


# Project-specific secrets

.env
*.bat
bot_log.txt
logs/


# Data / Config (secrets)

2024ishikawa.xml
noto.json
Jma_tsunamiBOT.py